@use "variables";

.footer-top {
  background: variables.$fourth-color;
  width: 100%;
    #grey-background {
    background: variables.$main-bg-color;
    }
    .footer_menu {
        @include variables.content-container;
        padding: 48px 80px;
        max-width: 1240px;
        cursor: pointer;

    // #grey-background {
    //   background: variables.$main-bg-color;
    // }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      @media (max-width: 480px) {
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      li {
        color: variables.$first-color;
        font-family: "Roboto", sans-serif;
        font-size: clamp(12px, 2vw, 16px);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        white-space: nowrap;
      }
    }

    .social_media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding-top: 24px;
      cursor: pointer;
    }
  }
}
// #grey-background {
//   background: variables.$main-bg-color;
// }