@use "variables";

.footer-top {
  background: variables.$fourth-color;
  width: 100%;
  @include variables.content-container;
  #grey-background{
    background-color: variables.$main-bg-color;
  }

  .footer_menu {
    padding: 48px 80px;
    max-width: 1240px;
    cursor: pointer;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      @media (max-width: 480px) {
        flex-wrap: wrap;
      }

      li {
        color: variables.$first-color;
        font-family: "Roboto", sans-serif;
        font-size: clamp(12px, 2vw, 16px);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        white-space: nowrap; 
        
      }
    }

    .social_media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding-top: 24px;
      cursor: pointer;
    }
  }
}
