$main-bg-color: #e8edde;
$first-color: #000000;
$second-color: #50806b;
$third-color: #343434;
$fourth-color: #ffffff;
$first-font: "Open Sans";
$second-font: "Poppins";

@mixin content-container {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width: 480px) {
    max-width: min(99%, 480px);
    padding: 0 10px;
  }
}

@mixin button {
  width: 100%;
  padding: 18px 0;
  border-radius: 8px;
  background:  #50806b;
  box-shadow: 2 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  border: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: clamp(12px, 5vw, 20px);
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}
