.Hottest_Plants {
  background: #E8EDDE;
  width: 100%;
}
.Hottest_Plants .hottest-block {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.Hottest_Plants .hottest-block .shop_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  margin-bottom: 50px;
  border-bottom: 1px solid #000;
  padding-bottom: 32px;
}
.Hottest_Plants .hottest-block .shop_all h2 {
  color: #50806B;
  font-family: "Poppins", sans-serif;
  font-size: clamp(38px, 6vw, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.Hottest_Plants .hottest-block .shop_all span {
  color: #000000;
}
.Hottest_Plants .hottest-block .shop_all a {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: clamp(18px, 6vw, 30px);
  font-style: normal;
  font-weight: 400;
  line-height: 21.7px;
  text-transform: uppercase;
  text-decoration: none;
}
.Hottest_Plants .hottest-block .cards_plants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 282px), 1fr));
  gap: 24px 24px;
  padding-bottom: 100px;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  padding: 2%;
  margin: 0 auto;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1, .Hottest_Plants .hottest-block .cards_plants .inner_card .card2, .Hottest_Plants .hottest-block .cards_plants .inner_card .card3, .Hottest_Plants .hottest-block .cards_plants .inner_card .card4, .Hottest_Plants .hottest-block .cards_plants .inner_card .card5, .Hottest_Plants .hottest-block .cards_plants .inner_card .card6, .Hottest_Plants .hottest-block .cards_plants .inner_card .card7, .Hottest_Plants .hottest-block .cards_plants .inner_card .card8 {
  max-width: 80%;
  padding: 20px;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card2 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card3 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card4 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card5 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card6 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card7 img, .Hottest_Plants .hottest-block .cards_plants .inner_card .card8 img {
  min-width: 242px;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card2 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card3 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card4 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card5 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card6 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card7 .name_plants, .Hottest_Plants .hottest-block .cards_plants .inner_card .card8 .name_plants {
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  margin-top: 1rem;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card2 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card3 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card4 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card5 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card6 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card7 .price, .Hottest_Plants .hottest-block .cards_plants .inner_card .card8 .price {
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card2 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card3 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card4 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card5 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card6 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card7 button, .Hottest_Plants .hottest-block .cards_plants .inner_card .card8 button {
  width: 130%;
  padding: 16px;
  background: #50806B;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.Ferntastic_Deals {
  background: #ffffff;
  width: 100%;
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.Ferntastic_Deals .dealsName {
  border-bottom: 1px solid #000;
}
.Ferntastic_Deals .dealsName h2 {
  color: #50806B;
  font-family: "Poppins", sans-serif;
  font-size: clamp(38px, 6vw, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding-top: 80px;
  padding-bottom: 32px;
}
.Ferntastic_Deals .dealsName span {
  color: #000000;
}
.Ferntastic_Deals .aktion_plants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 282px), 1fr));
  gap: 24px 24px;
  padding-bottom: 147.5px;
  margin-top: 48px;
}
.Ferntastic_Deals .aktion_plants .inner_card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  padding: 2%;
  margin: 0 auto;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1, .Ferntastic_Deals .aktion_plants .inner_card .aktion2, .Ferntastic_Deals .aktion_plants .inner_card .aktion3, .Ferntastic_Deals .aktion_plants .inner_card .aktion4 {
  max-width: 100%;
  padding: 20px;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 img, .Ferntastic_Deals .aktion_plants .inner_card .aktion2 img, .Ferntastic_Deals .aktion_plants .inner_card .aktion3 img, .Ferntastic_Deals .aktion_plants .inner_card .aktion4 img {
  min-width: 242px;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 .name_plants, .Ferntastic_Deals .aktion_plants .inner_card .aktion2 .name_plants, .Ferntastic_Deals .aktion_plants .inner_card .aktion3 .name_plants, .Ferntastic_Deals .aktion_plants .inner_card .aktion4 .name_plants {
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  margin-top: 1rem;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 .price, .Ferntastic_Deals .aktion_plants .inner_card .aktion2 .price, .Ferntastic_Deals .aktion_plants .inner_card .aktion3 .price, .Ferntastic_Deals .aktion_plants .inner_card .aktion4 .price {
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 span, .Ferntastic_Deals .aktion_plants .inner_card .aktion2 span, .Ferntastic_Deals .aktion_plants .inner_card .aktion3 span, .Ferntastic_Deals .aktion_plants .inner_card .aktion4 span {
  color: #D11F1F;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 button, .Ferntastic_Deals .aktion_plants .inner_card .aktion2 button, .Ferntastic_Deals .aktion_plants .inner_card .aktion3 button, .Ferntastic_Deals .aktion_plants .inner_card .aktion4 button {
  width: 100%;
  padding: 16px;
  background: #50806B;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.Testimonials {
  background: #E8EDDE;
  width: 100%;
}
.Testimonials .testomonials-block {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.Testimonials .testomonials-block .lastBox {
  padding-top: 83.5px;
}
.Testimonials .testomonials-block .lastBox h3 {
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: clamp(38px, 6vw, 56px);
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: -2.4px;
  padding-bottom: 15px;
}
.Testimonials .testomonials-block .lastBox p {
  text-align: center;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px;
  letter-spacing: 0.1px;
  margin-bottom: 26.5px;
}
.Testimonials .testomonials-block .comments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 340px), 1fr));
  gap: 30px 30px;
  padding: 0 25px 90px 25px;
}
.Testimonials .testomonials-block .comments .inner_card {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 24px 0px rgba(139, 167, 178, 0.16);
}
.Testimonials .testomonials-block .comments .inner_card .comment1, .Testimonials .testomonials-block .comments .inner_card .comment2, .Testimonials .testomonials-block .comments .inner_card .comment3 {
  padding: 32px 30px 26px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Testimonials .testomonials-block .comments .inner_card .comment1 img, .Testimonials .testomonials-block .comments .inner_card .comment2 img, .Testimonials .testomonials-block .comments .inner_card .comment3 img {
  min-width: 82px;
}
.Testimonials .testomonials-block .comments .inner_card .text {
  color: #1D293F;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}
.Testimonials .testomonials-block .comments .inner_card .firstName {
  color: #7C8087;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-top {
  background: #ffffff;
  width: 100%;
}
.footer-top .wrapper_test {
  padding: 0 12%;
  margin: 0 auto;
  height: 100%;
}
.footer-top .wrapper_test .footer_menu {
  padding: 48px 80px;
  max-width: 1240px;
}
.footer-top .wrapper_test .footer_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-top .wrapper_test .footer_menu ul li {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.footer-top .wrapper_test .footer_menu .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
}

.footer-bottom {
  background: #50806B;
  width: 100%;
  min-height: 55px;
}
.footer-bottom .wrapper_test {
  padding: 0 12%;
  margin: 0 auto;
  height: 100%;
}
.footer-bottom .wrapper_test .last_container {
  color: #E8EDDE;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=input.css.map */