* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  line-height: normal;
}

header .top-block {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 45px;
  background-color: #50806b;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .top-block p,
header .top-block .paragraph-block {
  color: #ffffff;
  font-family: Open Sans;
  font-size: clamp(11px, 2vw, 16px);
  letter-spacing: 0.5px;
  cursor: pointer;
  gap: 23px;
}
header .top-block p {
  font-weight: 600;
  flex: 1 content;
  text-align: center;
  padding-left: 10%;
}
header .top-block .paragraph-block {
  display: flex;
  padding-right: 2%;
}
header .top-block .paragraph-block p:first-child {
  font-weight: 400;
}
header .top-block .paragraph-block p:last-child {
  font-weight: 700;
}

.bottom-block {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -0.6px;
  font-family: Open Sans;
}
.bottom-block .logo-block {
  font-size: clamp(18px, 2vw, 26px);
  font-weight: 600;
  color: #000000;
}
.bottom-block .logo-block span {
  color: #50806b;
}
.bottom-block nav {
  color: #000000;
  font-size: clamp(14px, 2vw, 17px);
  font-weight: 400;
}
.bottom-block nav ul {
  display: flex;
  justify-content: space-between;
  gap: clamp(1rem, 5vw, 6rem);
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 780px) {
  .bottom-block nav ul {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    left: 3%;
    top: 121%;
    z-index: 1;
  }
}
.bottom-block .right-block {
  display: flex;
  justify-content: space-between;
}
.bottom-block .right-block .search-block {
  display: flex;
  align-items: center;
}
.bottom-block .right-block .search-block input {
  border: none;
  max-width: 67px;
  color: #979797;
  font-size: clamp(14px, 1vw, 17px);
  font-weight: 400;
}
.bottom-block .right-block .search-block button {
  max-width: 22px;
  height: 22px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}
.bottom-block .right-block .search-block::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #979797;
  margin: 0 clamp(10px, 2vw, 26px);
}
.bottom-block .right-block .basket-block {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

main {
  height: 740px;
  background-color: #50806b;
  margin-bottom: 111px;
}
main .background {
  min-height: 690px;
  width: 100%;
  margin: 0;
  background-image: url("../media/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .background .text-block {
  max-width: min(55%, 570px);
  background: rgba(80, 128, 107, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-align: center;
  font-family: Poppins;
}
main .background .text-block h1 {
  font-size: clamp(42px, 10vw, 80px);
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 2.4px;
  margin-bottom: 50px;
  padding: 0 36px;
}
main .background .text-block p {
  max-width: min(90%, 420px);
  font-size: clamp(18px, 3vw, 22px);
  font-weight: 400;
  margin-bottom: 60px;
}
main .background .text-block button {
  padding: clamp(12px, 2vw, 24px) clamp(28px, 4vw, 56px);
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  border-radius: 20px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.catagory {
  margin: 0 auto;
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
}
.catagory .title-catagory-block {
  height: 131px;
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
}
.catagory .title-catagory-block h2 {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(38px, 5vw, 56px);
  font-weight: 600;
  line-height: 120%;
}
.catagory .title-catagory-block h2 span {
  color: #50806b;
}
.catagory .img-catagory-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  gap: 22px 22px;
  margin-bottom: 149.5px;
  margin-top: 52px;
}
.catagory .img-catagory-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.catagory .img-catagory-block div h3 {
  color: #343434;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3.2px;
}

.selling {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
}
.selling .title-selling-block {
  height: 131px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.selling .title-selling-block h2 {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(38px, 5vw, 56px);
  font-weight: 600;
  line-height: 120%;
}
.selling .title-selling-block h2 span {
  color: #50806b;
}
.selling .title-selling-block p {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(18px, 5vw, 30px);
  font-weight: 400;
  line-height: 21.7px;
  text-transform: uppercase;
  cursor: pointer;
}
.selling .img-selling-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 384px), 1fr));
  gap: 24px 24px;
  margin-bottom: 149.5px;
  margin-top: 70px;
  padding: 0 14px;
}
.selling .img-selling-block div {
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  gap: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  margin: auto;
}
.selling .img-selling-block div img {
  max-width: 329px;
  height: 100%;
}
.selling .img-selling-block div button {
  padding: 18px 116px;
  border-radius: 8px;
  background: #50806b;
  box-shadow: 2 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  border: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */